<form #registerForm="ngForm" (ngSubmit)="register(); registerForm.resetForm()" style="text-align: center;" autocomplete="on">
    <h1 class="mb-3">Please sign up</h1>

    <div class="form-floating mb-3">
      <input type="text" name="fullname" [(ngModel)]="model.fullname" class="form-control" placeholder="name@example.com">
      <label for="floatingInput">Full name</label>
    </div>
    <div class="form-floating mb-3">
      <input type="email" name="email" [(ngModel)]="model.email" class="form-control" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" name="password"[(ngModel)]="model.password" class="form-control" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="form-group text-center">
      <button class="btn btn-lg btn-success me-3" type="submit">Sign up</button>
      <button class="btn btn-lg btn-default" (click)="cancel()" type="button">Cancel</button>
    </div>
    
</form>
