<div class="card mb-4">
  <div class="card-img-wrapper">
    <img
      src="{{ member.photos[0].url }}"
      alt="{{ member.memberId }}"
      class="card-img-top"
      routerLink="/members/{{ member.memberId }}"
    />
    <ul class="list-inline member-icons animate text-center">
      <li class="list-inline-item">
        <button class="btn btn-primary">
          <i class="fa fa-user"></i>
        </button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary">
          <i class="fa fa-heart"></i>
        </button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary">
          <i class="fa fa-envelope"></i>
        </button>
      </li>
    </ul>
  </div>
  <div class="card-body p-1" routerLink="/members/{{ member.memberId }}">
    <h6 class="card-title text-center mt-2">
      <i class="fa fa-user"></i> {{ member.fullName }}
    </h6>
    <p class="card-text text-muted text-center mb-0">{{ member.age }}</p>
    <p class="card-text text-muted text-center">
      {{ member.city }}
    </p>
  </div>
</div>
